<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.5.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/mybatis/mybatis-configuration.xml" />
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>org.apache.derby.jdbc.EmbeddedDriver</value>
		</property>
		<property name="url">
			<value>jdbc:derby:/home/woody/git/so/sodb;create=true</value>
		</property>
	</bean>

	<!-- ========================= DATASOURCE DEFINITION via JNDI ========================= -->
	<!-- When resourceRef is true, the value of jndiName will be prepended with 
		server’s JNDI directory. Consequently, the actual name used will be java:comp/env/jdbc/pcmDB. -->
<!-- 	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" -->
<!-- 		scope="singleton"> -->
<!-- 		<property name="jndiName" value="java:comp/env/jdbc/pcmDB" /> -->
<!-- 		<property name="resourceRef" value="true" /> -->
<!-- 	</bean> -->
<!-- 	<aop:aspectj-autoproxy /> -->

	<!-- Internationalization setting begin -->
	<!-- http://www.mkyong.com/spring-mvc/spring-mvc-internationalization-example/                         -->
	<!-- http://www.journaldev.com/2610/spring-mvc-internationalization-i18n-and-localization-l10n-example -->
	<beans:bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<beans:property name="basenames">
			<list>
				<value>classpath:internationalization/phrase</value>
			</list>
		</beans:property>
		<beans:property name="defaultEncoding" value="UTF-8" />
	</beans:bean>

	<beans:bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
<!-- 		<beans:property name="defaultLocale" value="en" /> -->
		<beans:property name="cookieName" value="myAppLocaleCookie"></beans:property>
		<beans:property name="cookieMaxAge" value="3600"></beans:property>
	</beans:bean>

<!-- 	<beans:bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"> -->
<!-- 		<beans:property name="defaultLocale" value="en" /> -->
<!-- 	</beans:bean> -->

	<mvc:interceptors>
		<beans:bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<beans:property name="paramName" value="language" />
		</beans:bean>
	</mvc:interceptors>
	<!-- Internationalization setting end -->

</beans>