<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.woody.so">
	<select id="selectPrivilege" resultType="info.woody.so.bean.PrivilegeBean">
        select id          ,
               name, source, description, control, status, 
               createAt    ,
               createBy    ,
               updateAt    ,
               updateBy
		  from soPrivilege
		 order by createAt desc
	</select>
	<select id="selectPrivilegeRowCount" resultType="int">
		select count(1) from soPrivilege
	</select>

	<insert id="insertPrivilege" parameterType="info.woody.so.bean.PrivilegeBean" useGeneratedKeys="true" keyProperty="id">
		insert into soPrivilege ( name, source, description, control, status )
		values ( #{name, jdbcType=VARCHAR}, #{source, jdbcType=VARCHAR}, #{description, jdbcType=VARCHAR}, #{control, jdbcType=VARCHAR}, #{status, jdbcType=VARCHAR} )
	</insert>

	<update id="updatePrivilege" parameterType="info.woody.so.bean.PrivilegeBean">
		update soPrivilege
		   set name        = #{name       , jdbcType=VARCHAR},
               source      = #{source     , jdbcType=VARCHAR},
               description = #{description, jdbcType=VARCHAR},
               control     = #{control    , jdbcType=VARCHAR},
               status      = #{status     , jdbcType=VARCHAR},
		       updateAt = CURRENT_TIMESTAMP
		 where id = #{id}
	</update>

	<delete id="deletePrivilege" parameterType="int">
		delete from soPrivilege where id = #{id}
	</delete>
</mapper>
