<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.woody.so">
	<select id="selectLookup" resultType="info.woody.so.bean.LookupBean">
		select id      ,
			   category,
			   name    ,
			   val     ,
			   weight  ,
			   createAt,
			   createBy,
			   updateAt,
			   updateBy
		  from soLookup
		 order by category, weight
	</select>
	<select id="selectLookupRowCount" resultType="int">
		select count(1) from soLookup
	</select>

	<insert id="insertLookup" parameterType="info.woody.so.bean.LookupBean" useGeneratedKeys="true" keyProperty="id">
		insert into soLookup ( category, name, val, weight )
		values ( #{category,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{val,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER} )
	</insert>

	<update id="updateLookup" parameterType="info.woody.so.bean.LookupBean">
		update soLookup
		   set category = #{category,jdbcType=VARCHAR},
		       name     = #{name,jdbcType=VARCHAR}    ,
		       val      = #{val,jdbcType=VARCHAR}     ,
		       weight   = #{weight,jdbcType=INTEGER}  ,
		       updateAt = CURRENT_TIMESTAMP
		 where id = #{id}
	</update>

	<delete id="deleteLookup" parameterType="int">
		delete from soLookup where id = #{id}
	</delete>
	
	<select id="selectLookupByCategory" resultType="info.woody.so.bean.LookupBean" parameterType="java.lang.String">
		select category,
			   name    ,
			   val     
		  from soLookup
		 where category = #{category}
		 order by weight
	</select>

	<select id="selectLookupForCategoryOnly" resultType="java.lang.String">
		select distinct category
		  from soLookup
	</select>

</mapper>
