<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.woody.so">
	<select id="selectReport" resultType="info.woody.so.bean.ReportBean">
        select category, count(name) qty, avg(weight) avgWeight
		  from soLookup
		 group by category
	</select>
	<select id="selectReportRowCount" resultType="int">
		select count(1) from (
	        select category, count(name) qty, avg(weight) avgWeight
			  from soLookup
			 group by category
		) T (category, qty, avgWeight)
	</select>
</mapper>
